body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #323232;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.calculator {
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
    background: #ffffff;
}

.btn-lg {
    padding: 18px;
    font-size: 1.3rem;
}

#display {
    height: 60px;
    font-size: 1.6rem;
    font-weight: 500;
}
